In [28]:
import pandas as pd
import numpy as np

df = pd.read_csv('21BCE3252 DATASET.csv')

In [29]:
# Example of discretization and binning using Age data
age = df['Age'].tolist()

In [30]:
# Defining bins for Age intervals
bins_age = [20, 30, 40, 50, 60, 70]
age_category = pd.cut(age, bins_age)
print("Age Categories:\n", age_category)

Age Categories:
 [(20, 30], (40, 50], (30, 40], (30, 40], (30, 40], ..., (20, 30], (20, 30], (60, 70], (60, 70], (20, 30]]
Length: 5000
Categories (5, interval[int64, right]): [(20, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70]]

In [31]:
# Check the number of values in each bin
print("\nCount of Age Categories:\n", pd.Series(age_category).value_counts())

Count of Age Categories:
 (50, 60]    1323
(40, 50]    1270
(30, 40]    1236
(20, 30]     624
(60, 70]     547
Name: count, dtype: int64

In [32]:
# Indicating the bin names with labels
bin_names_age = ['Young', 'Adult', 'Middle-Aged', 'Senior', 'Elder']
labeled_age_categories = pd.cut(age, bins_age, labels=bin_names_age)
print("\nLabeled Age Categories:\n", labeled_age_categories)

Labeled Age Categories:
 ['Young', 'Middle-Aged', 'Adult', 'Adult', 'Adult', ..., 'Young', 'Young', 'Elder', 'Elder', 'Young']
Length: 5000
Categories (5, object): ['Young' < 'Adult' < 'Middle-Aged' < 'Senior' < 'Elder']

In [33]:
# Generate random data for demonstration (not part of the original dataset)
random_data = np.random.rand(40)
equal_bins = pd.cut(random_data, 5, precision=2)
print("\nEqual-Length Bins from Random Data:\n", equal_bins)

Equal-Length Bins from Random Data:
 [(0.28, 0.46], (0.82, 1.0], (0.1, 0.28], (0.1, 0.28], (0.64, 0.82], ..., (0.1, 0.28], (0.1, 0.28], (0.1, 0.28], (0.1, 0.28], (0.1, 0.28]]
Length: 40
Categories (5, interval[float64, right]): [(0.1, 0.28] < (0.28, 0.46] < (0.46, 0.64] <
                                           (0.64, 0.82] < (0.82, 1.0]]

In [34]:
# Binning using sample quantiles
random_numbers = np.random.rand(2000)
quantile_bins = pd.qcut(random_numbers, 4)  # Cut into quartiles
print("\nQuantile Bins:\n", quantile_bins)
print("\nCount of Quantile Bins:\n", pd.Series(quantile_bins).value_counts())

Quantile Bins:
 [(0.495, 0.741], (0.741, 1.0], (0.741, 1.0], (-0.0005790000000000001, 0.251], (-0.0005790000000000001, 0.251], ..., (-0.0005790000000000001, 0.251], (0.741, 1.0], (0.251, 0.495], (0.741, 1.0], (0.251, 0.495]]
Length: 2000
Categories (4, interval[float64, right]): [(-0.0005790000000000001, 0.251] < (0.251, 0.495] < (0.495, 0.741] <
                                           (0.741, 1.0]]

Count of Quantile Bins:
 (-0.0005790000000000001, 0.251]    500
(0.251, 0.495]                     500
(0.495, 0.741]                     500
(0.741, 1.0]                       500
Name: count, dtype: int64

In [35]:
# Calculate TotalIncome based on Income and CCAvg (you can change this as needed)
df['TotalIncome'] = df['Income'] + df['CCAvg'] * 1000  # Example calculation
print("\nAccount and Total Income:\n", df[['ID', 'TotalIncome']])

Account and Total Income:
         ID  TotalIncome
0        1       1649.0
1        2       1534.0
2        3       1011.0
3        4       2800.0
4        5       1045.0
...    ...          ...
4995  4996       1940.0
4996  4997        415.0
4997  4998        324.0
4998  4999        549.0
4999  5000        883.0

[5000 rows x 2 columns]

In [36]:
# Find transactions that exceeded a specific threshold for TotalIncome
high_transactions = df[df['TotalIncome'] > 100000]  # Threshold can be changed
print("\nHigh Transactions:\n", high_transactions)

High Transactions:
 Empty DataFrame
Columns: [ID, Age, Experience, Income, ZIP Code, Family, CCAvg, Education, Mortgage, Personal Loan, Securities Account, CD Account, Online, CreditCard, TotalIncome]
Index: []

In [37]:

# Display transactions where TotalIncome exceeds a higher threshold
extreme_transactions = df[df['TotalIncome'] > 150000]  # Threshold can be changed
print("\nExtreme Transactions:\n", extreme_transactions)

Extreme Transactions:
 Empty DataFrame
Columns: [ID, Age, Experience, Income, ZIP Code, Family, CCAvg, Education, Mortgage, Personal Loan, Securities Account, CD Account, Online, CreditCard, TotalIncome]
Index: []

In [38]:
# Dataframes for concatenation
dataFrame1 = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Score': [89, 39, 50, 97, 22]
})

dataFrame2 = pd.DataFrame({
    'ID': [6, 7, 8, 9, 10],
    'Score': [98, 93, 44, 77, 69]
})

# Concatenation of dataframes (ignore index)
dataframe_concat = pd.concat([dataFrame1, dataFrame2], ignore_index=True)
print("\nConcatenated DataFrame:\n", dataframe_concat)

Concatenated DataFrame:
    ID  Score
0   1     89
1   2     39
2   3     50
3   4     97
4   5     22
5   6     98
6   7     93
7   8     44
8   9     77
9  10     69

In [39]:

# Merging Dataframes for different scores
df1SE = pd.DataFrame({
    'ID': [1, 2, 3],
    'ScoreSE': [22, 66, 31]
})

df2SE = pd.DataFrame({
    'ID': [4, 5, 6],
    'ScoreSE': [98, 93, 44]
})

In [40]:
# Concatenate Software Engineering scores
dfSE = pd.concat([df1SE, df2SE], ignore_index=True)
print("\nConcatenated Software Engineering DataFrame:\n", dfSE)

Concatenated Software Engineering DataFrame:
    ID  ScoreSE
0   1       22
1   2       66
2   3       31
3   4       98
4   5       93
5   6       44

In [41]:
# Merge inner join
df_inner = dfSE.merge(dataframe_concat, on='ID', how='inner')
print("\nInner Merge:\n", df_inner)

Inner Merge:
    ID  ScoreSE  Score
0   1       22     89
1   2       66     39
2   3       31     50
3   4       98     97
4   5       93     22
5   6       44     98

In [42]:
# Merge left join
df_left = dfSE.merge(dataframe_concat, on='ID', how='left')
print("\nLeft Merge:\n", df_left)

Left Merge:
    ID  ScoreSE  Score
0   1       22     89
1   2       66     39
2   3       31     50
3   4       98     97
4   5       93     22
5   6       44     98

In [43]:
# Merge right join
df_right = dfSE.merge(dataframe_concat, on='ID', how='right')
print("\nRight Merge:\n", df_right)

Right Merge:
    ID  ScoreSE  Score
0   1     22.0     89
1   2     66.0     39
2   3     31.0     50
3   4     98.0     97
4   5     93.0     22
5   6     44.0     98
6   7      NaN     93
7   8      NaN     44
8   9      NaN     77
9  10      NaN     69

In [44]:
# Reshaping with Hierarchical Indexing (Example)
data = np.arange(15).reshape((3, 5))
indexers = ['Rainfall', 'Humidity', 'Wind']
dframe1 = pd.DataFrame(data, index=indexers, columns=['City1', 'City2', 'City3', 'City4', 'City5'])

In [45]:
# Stack and unstack data
stacked = dframe1.stack()
unstacked = stacked.unstack()
print("\nStacked DataFrame:\n", stacked)
print("\nUnstacked DataFrame:\n", unstacked)

Stacked DataFrame:
 Rainfall  City1     0
          City2     1
          City3     2
          City4     3
          City5     4
Humidity  City1     5
          City2     6
          City3     7
          City4     8
          City5     9
Wind      City1    10
          City2    11
          City3    12
          City4    13
          City5    14
dtype: int64

Unstacked DataFrame:
           City1  City2  City3  City4  City5
Rainfall      0      1      2      3      4
Humidity      5      6      7      8      9
Wind         10     11     12     13     14

In [46]:
# Data deduplication
frame3 = pd.DataFrame({'column 1': ['Looping'] * 3 + ['Functions'] * 4, 'column 2': [10, 10, 22, 23, 23, 24, 24]})
deduplicated = frame3.drop_duplicates()
print("\nDeduplicated DataFrame:\n", deduplicated)

Deduplicated DataFrame:
     column 1  column 2
0    Looping        10
2    Looping        22
3  Functions        23
5  Functions        24

In [47]:
# Replacing values in dataframe
replaceFrame = pd.DataFrame({'column 1': [200., 3000., -786., 3000., 234., 444., -786., 332., 3332.], 'column 2': range(9)})
replaceFrame_cleaned = replaceFrame.replace(to_replace=[-786, 0], value=[np.nan, 2])
print("\nCleaned DataFrame:\n", replaceFrame_cleaned)

Cleaned DataFrame:
    column 1  column 2
0     200.0         2
1    3000.0         1
2       NaN         2
3    3000.0         3
4     234.0         4
5     444.0         5
6       NaN         6
7     332.0         7
8    3332.0         8

In [48]:
# Handling missing data
data = np.arange(15, 30).reshape(5, 3)
dfx = pd.DataFrame(data, index=['apple', 'banana', 'kiwi', 'grapes', 'mango'], columns=['store1', 'store2', 'store3'])

In [49]:
# Add missing values
dfx['store4'] = np.nan
dfx.loc['watermelon'] = np.arange(15, 19)
dfx.loc['oranges'] = np.nan
dfx['store5'] = np.nan
dfx.loc['apple', 'store4'] = 20.

In [50]:
# Checking for missing values
missing_values = dfx.isnull()
print("\nMissing Values:\n", missing_values)

Missing Values:
             store1  store2  store3  store4  store5
apple        False   False   False   False    True
banana       False   False   False    True    True
kiwi         False   False   False    True    True
grapes       False   False   False    True    True
mango        False   False   False    True    True
watermelon   False   False   False   False    True
oranges       True    True    True    True    True

In [51]:
# Count NaN values in each store
null_counts = dfx.isnull().sum()
print("\nCount of NaN Values in Each Store:\n", null_counts)

Count of NaN Values in Each Store:
 store1    1
store2    1
store3    1
store4    5
store5    7
dtype: int64

In [52]:
# Total number of missing values
total_nulls = dfx.isnull().sum().sum()
print("\nTotal Number of Missing Values:\n", total_nulls)

Total Number of Missing Values:
 15

In [53]:
# Drop missing values
dfx_cleaned_by_rows = dfx.dropna()
print("\nDataFrame Cleaned by Rows:\n", dfx_cleaned_by_rows)

DataFrame Cleaned by Rows:
 Empty DataFrame
Columns: [store1, store2, store3, store4, store5]
Index: []

In [54]:
dfx_cleaned_by_columns = dfx.dropna(how='all', axis=1)
print("\nDataFrame Cleaned by Columns:\n", dfx_cleaned_by_columns)

DataFrame Cleaned by Columns:
             store1  store2  store3  store4
apple         15.0    16.0    17.0    20.0
banana        18.0    19.0    20.0     NaN
kiwi          21.0    22.0    23.0     NaN
grapes        24.0    25.0    26.0     NaN
mango         27.0    28.0    29.0     NaN
watermelon    15.0    16.0    17.0    18.0
oranges        NaN     NaN     NaN     NaN

In [55]:
# Filling missing values
filled_dfx = dfx.fillna(0)
dfx_forward_filled = dfx.store4.fillna(method='ffill')
dfx_backward_filled = dfx.store4.fillna(method='bfill')
print("\nFilled DataFrame:\n", filled_dfx)

Filled DataFrame:
             store1  store2  store3  store4  store5
apple         15.0    16.0    17.0    20.0     0.0
banana        18.0    19.0    20.0     0.0     0.0
kiwi          21.0    22.0    23.0     0.0     0.0
grapes        24.0    25.0    26.0     0.0     0.0
mango         27.0    28.0    29.0     0.0     0.0
watermelon    15.0    16.0    17.0    18.0     0.0
oranges        0.0     0.0     0.0     0.0     0.0

<ipython-input-55-104dea1f8dae>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dfx_forward_filled = dfx.store4.fillna(method='ffill')
<ipython-input-55-104dea1f8dae>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dfx_backward_filled = dfx.store4.fillna(method='bfill')